html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'futura-pt', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c306d;

  /*gradient */
  /* background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right top, #004e92, #000428); */






  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-header {
  font-weight: 300;
  letter-spacing: 2px;
  font-style: inherit;
  color: #fff;
}

h1 {
  font-family: 'Khula', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 4.5em;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 35px;

}

p {
  
  font-family: 'Assistant', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size:17.5px;
}

/* Creame / Brown Color Pallete */
/* 
background color: #eeeeee
dark-brown: #222222
on-dark-brown: #fff or #c8c8c8
light-brown: #666666


*/