html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'futura-pt', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c306d;

  /*gradient */
  /* background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right top, #004e92, #000428); */






  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-header {
  font-weight: 300;
  letter-spacing: 2px;
  font-style: inherit;
  color: #fff;
}
